body {
  background-color: #EAF6F6;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 5px;

  width: 10%;}

   h1 {
   color: #4b5d67;}
   H3{
     color: #66BFBF
   }
  OL {
    color: #4b5d67;
  }
UL{
  COLOR: #4b5d67;
}
li{color: #4b5d67;
}
tr{color: #4b5d67}
p{
  color: #4b5d67;
}
label{
  color: #4b5d67;
}
form{
  color: #4b5d67
}
